streamlit
streamlit-option-menu
groq
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
easyocr
pdfplumber
pandas
networkx
pyvis
fpdf2
openpyxl
numpy
plotly
python-dateutil
